@using System.ComponentModel.DataAnnotations
@model HttpPostedFileBase

@if (@ViewData.ModelMetadata.DataTypeName == DataType.Upload.ToString())
{
    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
        <div class="form-control" data-trigger="fileinput">
            <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
        </div>
        <span class="input-group-addon btn btn-default btn-file">
            <span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
            @Html.TextBoxFor(x => x, new { type = "file", placeholder = ViewData.ModelMetadata.Watermark })
        </span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
    </div>
}
else
{
    @Html.TextBoxFor(x => x, new { type = "file", @class = "form-control", placeholder = ViewData.ModelMetadata.Watermark })
}
