@model Website.Error.Model
@{Layout = null;}<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>Allors Base</title>

    <link href="/Content/font-awesome.css" rel="stylesheet">
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/animate.css" rel="stylesheet">

    <link href="/Content/default.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>error</h1>
        <h3 class="font-bold">Client Side Error</h3>

        <div class="error-desc">
            A severe error occured and was logged to the server.<br/>
            You can go back to the application: <br/><a href="/" class="btn btn-primary m-t">Restart</a>
        </div>

        <br/><br/><br/>
        <h5 class="font-bold">Debug info</h5>
        <div>
            @Html.Raw(@Model.Error)
        </div>

    </div>
    
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
</body>
</html>




