@model Allors.Web.Mvc.MenuItemForUser

@{
    var active = Model.IsActive ? "active" : null;
}

<li class="@active">
    @if (!string.IsNullOrWhiteSpace(Model.ControllerName))
    {
        @Html.ActionLink(Model.Text, Model.ActionName, Model.ControllerName, null, null)
    }
    else
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Model.Text <span class="caret"></span></a>
    }
    <ul class="dropdown-menu" role="menu">
        @foreach (var menuItem in Model)
        {
            @Html.Partial("_MenuItemPartial", menuItem)
        }
    </ul>
</li>