@{Layout = null;}<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Angular</title>
    <link rel="stylesheet" href="/Content/bootstrap.css">
</head>

<body ng-controller="mainController as vm">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Allors Base</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="organisation">Organisation</a></li>
                    <li ui-sref-active="active"><a ui-sref="person">Person</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{vm.root.FirstName}}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ui-view></ui-view>

    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui-router.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>

    <script src="/Scripts/lodash.js"></script>

    @Scripts.Render("~/bundles/angular/app")
    @Scripts.Render("~/bundles/angular/allors")

</body>
</html>




