<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
            </li>
            <li>
                <a ui-sref="relation.peoples">People</a>
            </li>
            <li class="active">
                <strong>Edit Person</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="vm.refresh()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>

                <h3 class="panel-title">
                    Edit Person
                </h3>
            </div>
            <div class="panel-body">
                <form name="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="vm.person.Title">
                            <span class="help-block m-b-none">The title will be used to display this person.</span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Url</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="vm.person.Url">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Topics</label>
                        <div class="col-sm-10">
                            <to-many obj="vm.person"
                                     relation="Topics"
                                     display="Title"
                                     lookup="vm.getTopicTypeAhead(criteria)" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Languages</label>
                        <div class="col-sm-10">
                            <to-many obj="vm.person"
                                     relation="Languages"
                                     display="Name"
                                     lookup="vm.getLanguageTypeAhead(criteria)" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <div ng-if="!vm.person.DescriptionEditable" ng-click="vm.person.DescriptionEditable = true" class="well" style="background: white" ng-bind-html="vm.person.Description"></div>
                            <div ng-if="vm.person.DescriptionEditable">
                                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.person.Description"></textarea>
                            </div>
                            <div ng-if="vm.person.DescriptionEditable">
                                <a ng-click="vm.person.DescriptionEditable = false" class="btn btn-link"><span class="fa fa-close"></span> Close</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <input id="cancel" type="button" class="btn btn-danger btn-sm" value="Cancel" ng-click="vm.cancel()" />
                    <input ng-disabled="!vm.hasChanges" id="save" type="button" class="btn btn-primary btn-sm" value="Save changes" ng-click="vm.save()" />
                </div>
            </div>
        </div>
    </div>

</div>
