<div ng-if="!edit">
    <input type="text" ng-model="obj[relation][display]" ng-disabled="!obj['CanWrite' + relation]" class="form-control" ng-focus="startEdit()">
</div>

<div ng-if="edit">
    <input ng-model="typed" class="form-control" focus autocomplete="off"
           uib-typeahead="x as x[display] for x in lookup($viewValue)"
           typeahead-editable="false"
           typeahead-select-on-exact="true"
           typeahead-select-on-blur="true"
           typeahead-on-select="select($item)"
           ng-blur="endEdit()"/>
    <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>
