<div ng-if="!edit" class="form-control-static">
    <span class="label label-default" ng-repeat="x in obj[relation]" style="padding: 6px; margin-right: 3px">
        &nbsp;{{x[display]}}<a class="btn-link btn-sm" ng-click="remove(x)"><span class="fa fa-close"></span></a>
    </span>
    <div class="pull-right">
        <button class="btn btn-link btn-sm" ng-click="startEdit()"><span class="fa fa-plus"></span></button>
    </div>
</div>

<div ng-if="edit">
    <input ng-model="typed" class="form-control" focus autocomplete="off"
           uib-typeahead="x as x[display] for x in lookup($viewValue)"
           typeahead-editable="false"
           typeahead-select-on-exact="true"
           typeahead-select-on-blur="true"
           typeahead-on-select="select($item)"
           ng-blur="stopEdit()"/>
    <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>
