<div ng-if="!edit" class="row">
    <div class="pull-right">
        <button class="btn btn-link btn-sm" ng-disabled="!obj['CanWrite' + relation]" ng-click="startEdit()"><span class="fa fa-plus"></span></button>
    </div>
    <div>
        <span class="btn btn-default btn-sm" ng-repeat="x in obj[relation]" style="margin-right: 5px; margin-bottom: 5px;">
            {{x[display]}} <a class="btn-link btn-xs" ng-click="remove(x)" ng-if="obj['CanWrite' + relation]"><span class="fa fa-close"></span></a>
        </span>
    </div>
</div>

<div ng-if="edit">
    <input ng-model="typed" class="form-control" focus autocomplete="off"
           uib-typeahead="x as x[display] for x in lookup($viewValue)"
           typeahead-editable="false"
           typeahead-select-on-exact="true"
           typeahead-select-on-blur="true"
           typeahead-on-select="select($item)"
           ng-blur="endEdit()"/>
    <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>
