@using Areas.Default.Tests.OrganisationMvc
@model IFilter

<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    @Html.Allors().EditorFor(x => x.FilterName)
                </div>
                <button type="submit" class="btn btn-default" name="command" value="@Command.Filter" id="filter">Filter</button>
            </div>
        </div>
    </nav>
</div>
