@{Layout = null;}<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>Allors Base</title>

    <link href="/Content/font-awesome.css" rel="stylesheet">
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/angular-toastr.css" rel="stylesheet">
    <link href="/Content/animate.css" rel="stylesheet">
    <link href="/lib/angular-chart/angular-chart.css" rel="stylesheet">
    <link href="/Content/loading-bar.css" rel="stylesheet">
    <link href="/Content/angular-toggle-switch.css" rel="stylesheet">
    <link href="/Content/angular-toggle-switch-bootstrap.css" rel="stylesheet">
    <link href="/Content/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <link href="/Content/default.css" rel="stylesheet">
</head>

<body ng-controller="layoutController as layout">

    <!-- Layout -->
    <div id="wrapper" ng-include="'app/layout/layout.html'"></div>

    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/tinymce/tinymce.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-sanitize.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-ui-router.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/angular-toastr.tpls.js"></script>
    <script src="/Scripts/angular-toggle-switch.js"></script>
    <script src="/Scripts/loading-bar.js"></script>
    <script src="/Scripts/Chart.js"></script>
    <script src="/lib/angular-chart/angular-chart.js"></script>
    <!--[if IE 9 ]>
    <script src="/Scripts/ng-file-upload-shim.js"></script>
    <![endif]--> 
    <script src="/Scripts/ng-file-upload.js"></script>

    <script src="/Scripts/bootstrap.js"></script>

    <script src="/Scripts/lodash.js"></script>

    @Scripts.Render("~/bundles/angular/allors")
    @Scripts.Render("~/bundles/angular/app")

</body>
</html>




