<div class="container animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <h1>User profile</h1>
            <h3>Change your settings</h3>
            <form name="settings" novalidate>
                
                <allors-field o="vm.person" r="FirstName"/>
                <allors-field o="vm.person" r="LastName" />
                <allors-field o="vm.person" r="UserEmail" />
                <allors-field o="vm.person" r="Locale" />
                
                <div class="form-group">
                    <input ng-disabled="!vm.hasChanges" id="save" type="button" class="btn btn-success btn-sm" value="Save" ng-click="vm.save()"/>
                    <input ng-disabled="!vm.hasChanges" id="reset" type="button" class="btn btn-danger btn-sm" value="Reset" ng-click="vm.reset()"/>
                </div>

            </form>
        </div>
    </div>
</div>

