@{Layout = null;}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Allors</title>
    <link rel="stylesheet" href="/Content/bootstrap.css">
</head>
<body>

<div class="container">
    <div class="row well">
        <ul>
            <li><a href="/local">Local (setup)</a></li>
            <li><a href="/angular">Angular</a></li>
            <li><a href="/mvc">Mvc</a></li>
        </ul>
    </div>

</div>

</body>
