<div class="container animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <form >
                <h1>Add Organisation</h1>

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" placeholder="Name" ng-model="vm.organisation.Name">
                </div>

                <div class="form-group">
                    <label>Owner</label>
                    <to-one obj="vm.organisation" relation="Owner" display="FullName" lookup="vm.getPersonTypeAhead(criteria)"></to-one>
                </div>

                <div class="form-group">
                    <label>Employees</label>
                    <to-many obj="vm.organisation" relation="Employees" display="FullName" lookup="vm.getPersonTypeAhead(criteria)"></to-many>
                </div>

                <div>
                    <input id="save" type="button" class="btn btn-success btn-sm" value="Save" ng-click="vm.save()" />
                    <input id="cancel" type="button" class="btn btn-danger btn-sm" value="Cancel" ng-click="vm.cancel()" />
                </div>
            </form>
        </div>
    </div>
</div>

