<nav ng-include="'app/layout/navigation.html'" class="navbar-default navbar-static-side hidden-print" role="navigation"></nav>

<div ui-view>
    <div class="container">
        <div class="jumbotron">
            <div class="body-wording">
                <h1>Allors Base</h1>
            </div>
            <p class="lead">The Next Big Thing in application development.</p>
            <p class="info">
                <a href="http://www.allors.com" target="_blank">Click here for more information</a>.
            </p>
        </div>
    </div>
</div>


