<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button id="nav-brand" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Allors Base</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" id="nav-home"><a ui-sref="home">Home</a></li>

                <!-- Relation -->
                <li class="dropdown">
                    <a id="nav-relation" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relation <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" id="nav-relation-organisation"><a ui-sref="organisation">Organisation</a></li>
                    </ul>
                </li>

                <li ui-sref-active="test" id="nav-test"><a ui-sref="test">Test</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="settings"><span class="fa fa-user"></span>{{vm.root.FirstName}}</a></li>
            </ul>
        </div>
    </div>
</nav>
