<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="mysqlclient" connectionString="Database=adapters;Data Source=localhost;User Id=allors;Password=allors"/>
		<add name="mysqlclient2" connectionString="Database=adapters2;Data Source=localhost;User Id=allors;Password=allors"/>
		<add name="npgsql" connectionString="Server=localhost;User Id=allors;Password=allors;Database=adapters"/>
		<add name="npgsql2" connectionString="Server=localhost;User Id=allors;Password=allors;Database=adapters2"/>
		<add name="oracle" connectionString="Data Source=localhost;User ID=scott;Password=tiger"/>
		<add name="oracle2" connectionString="Data Source=localhost;User ID=scott2;Password=tiger"/>
		<add name="sqlclient" connectionString="Integrated Security=SSPI;Data Source=(local);Initial Catalog=adapters;"/>
		<add name="sqlclient2" connectionString="Integrated Security=SSPI;Data Source=(local);Initial Catalog=adapters2;"/>
		<add name="sqlclientsnapshot" connectionString="Integrated Security=SSPI;Data Source=(local);Initial Catalog=adapters_snapshot;"/>
		<add name="sqlclientsnapshot2" connectionString="Integrated Security=SSPI;Data Source=(local);Initial Catalog=adapters_snapshot2;"/>
		<add name="myConnection" connectionString="connection=ok"/>
	</connectionStrings>
</configuration>
