@using Areas.Default.Tests.OrganisationMvc
@model View
@{
    ViewBag.Title = "View";
}
<div class="container">
    <br/><br/>
    <h2>Organisation</h2>
    <hr/>
    @Html.Allors().DisplayForModel()
</div>
