@model DateTime?

<div class="input-group date" id="@Html.IdForModel()">
    @Html.TextBoxFor(x => x, new { @class = "form-control", placeholder = ViewData.ModelMetadata.Watermark })
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

<script>
    $(document).ready(function () {
        $('#@Html.IdForModel()').datetimepicker({
            // Locale should be set from controller
            locale: '@System.Threading.Thread.CurrentThread.CurrentCulture.Name'
        });
    });
</script>
